
html {
  height: auto;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#3267c1, #c3cdd7);
}

.heading{
  margin-top: -490px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 231px;
}

.error{
  text-align: center;
  align-items: center;
  border-radius: 12px;
  border-radius: 42px;
  background-color:rgb(251, 255, 0);
  font-size: 20px;
}
.login{
 display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1px;
}


.weight-field {
  position: absolute;
top: 20%;
  left: 85%;
  width: auto;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: rgba(74, 235, 241, 0.376);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(11, 11, 11, 0.801);
  border-radius: 10px;
}

.price-field {
  position: absolute;
  top: 35%;
  left: 85%;
  width: auto;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: rgba(223, 236, 236, 0.376);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(11, 11, 11, 0.801);
  border-radius: 10px;
}

.login{
margin-top: auto;

}

.success{
  color: rgb(223, 41, 13);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: rgba(197, 238, 241, 0.376);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(11, 11, 11, 0.801);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(13, 12, 12);
  text-align: center;
}

.input-field input {
  height: 60px;
  font-weight:bold;
  font-size:20px;
  border-radius: 13px;
  background: rgb(249, 248, 248);
  border: 2px solid #ccc;
  margin-top: 0.5rem;
  color: #000;
  font-family: inherit;
}

input {
  height: 50px;
  font-weight:bold;
  font-size:40px;
  width: 60%;
  padding: 0.75rem;
  border-radius: 13px;
  background: rgb(249, 248, 248);
  border: 2px solid #ccc;
  margin-top: 0.5rem;
  color: #000;
  font-family: inherit;
}


.input-field label {
  color: rgb(0, 0, 0);
   font-weight:bold;
  font-size:20px;
  margin-top: -21px;
  margin-bottom: -11px;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #d0e2e3;
  font-size: 12px;
}




.link1{
text-decoration: none;
}

.link{
text-decoration: none;
  background: #f35954;
  border-radius: 999px;
  box-shadow: #610404 0 10px 20px -10px;
  box-sizing: border-box;
  color: #0b0c0b;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 44px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;

}

.link3{
text-decoration: none;
  background: #f35954;
  border-radius: 999px;
  box-shadow: #610404 0 10px 20px -10px;
  box-sizing: border-box;
  color: #0b0c0b;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height:44px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  align-items: center;
  align-content: center;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 882px;

}

.link2{
text-decoration: none;
  background: #f35954;
  border-radius: 999px;
  box-shadow: #610404 0 10px 20px -10px;
  box-sizing: border-box;
  color: #0b0c0b;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height:44px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  align-items: center;
  align-content: center;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 2px;

}

@media print{
.print_btn{
display:none;
}
}

 button {
 
  border-radius: 5;
  position: inherit;
  display: block;
  padding: 10px 20px;
  color: #1b1e1e;
  background-color: #f35954;
  font-size: 16px;
  text-decoration: none;

  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  	font-size: 50px;
}

.login-box button:hover {
  background: #f41606f1;
 
 
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #c5dadc);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #c6e1e2);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #c8e0e1);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d9e9ea);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

#Reciver-field{
  display: block;
}

#Sender-field{
  display: block;
}